.top-bar {
    background-color: #2b2b2b;
    height: 100px;
    position: relative;
    width: 1280px;
  }
  
  .top-bar .secondary-CTA-1 {
    left: 1055px !important;
    position: absolute !important;
    top: 25px !important;
  }
  
  .top-bar .sign-up {
    color: var(--white);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 957px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    text-align: right;
    top: 33px;
    width: 68px;
  }
  
  .top-bar .wallet-logo-instance {
    left: 50px !important;
    position: absolute !important;
    top: 33px !important;
  }
  